
<div>
    <h2><span data-translate="sidenerApp.electionPeriod.detail.title">Election Period</span> {{vm.electionPeriod.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="sidenerApp.electionPeriod.name">Name</span></dt>
        <dd>
            <span>{{vm.electionPeriod.name}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.electionPeriod.start">Start</span></dt>
        <dd>
            <span>{{vm.electionPeriod.start | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.electionPeriod.end">End</span></dt>
        <dd>
            <span>{{vm.electionPeriod.end | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.electionPeriod.published">Published</span></dt>
        <dd>
            <span>
                <span ng-if="vm.electionPeriod.published==true">
                    <i class="fa fa-check fa-2x"></i>
                </span>
                <span ng-if="vm.electionPeriod.published!=true">
                    <i class="fa fa-times fa-2x"></i>
                </span>
            </span>
        </dd>
        <dt><span data-translate="sidenerApp.electionPeriod.created">Created</span></dt>
        <dd>
            <span>{{vm.electionPeriod.created | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.electionPeriod.updated">Updated</span></dt>
        <dd>
            <span>{{vm.electionPeriod.updated | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="election-period-detail.edit({id:vm.electionPeriod.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
