<div>
    <h2><span>{{vm.election.electionTypeName}}</span> - <span data-translate="{{'sidenerApp.State.' + vm.election.state}}"></span> - <span>{{vm.election.periodElection}}</span></h2>
    <h3>Detección de Causales de Nulidad / Distritos</h3>
    <jhi-alert></jhi-alert>
    <div class="table-container">
        <div class="table-responsive">
        <table class="jh-table table table-striped table-bordered">
            <thead>
            <tr callback="vm.transition()">
                <th><span data-translate="sidenerApp.district.romanNumber"></span></th>
                <th><span data-translate="sidenerApp.district.districtHead"></span></th>
                <th><span data-translate="sidenerApp.district.pollingPlacesTotal"></span></th>
                <th><span data-translate="sidenerApp.district.totalVotes"></span></th>
                <th><span data-translate="sidenerApp.district.detectCausalsOfNullity"></span></th>
                <th>Genera Acta</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="district in vm.districts track by district.id" ng-class="countingAssumption(district.countingAssumption)">
                <td><a ui-sref="district-detail({id:district.id})" class="btn btn-info">{{district.romanNumber}}</a></td>
                <td>{{district.districtHead}}</td>
                <td>{{district.totalPollingPlaces}}</td>
                <td>
                    <uib-progressbar animate="false" max="district.electoralRoll" value="district.totalVotes" type="success">{{district.totalVotes | number}}</uib-progressbar>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="submit"
                                ui-sref="district-causals-pollingPlaces({id:district.id})"
                                class="btn btn-info btn-sm">
                            <span class="fa medium  fa-check-circle"></span>
                        </button>
                    </div>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="submit"

                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
