<div>
    <h1><span data-translate="sidenerApp.district.detail.title">District</span> - {{vm.district.romanNumber + ' ' + vm.district.districtHead}}</h1>
    <jhi-alert></jhi-alert>
    <h2>Supuestos cuantitativos y cualitativos de recuento parcial</h2>
    <h3>Relación de Casillas</h3>

    <div class="table-container">
        <div class="table-header">
            <div class="row">
                <div id="position" class="col-lg-4 col-md-4 col-sm-12 text-left">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa medium fa-certificate" aria-hidden="true"></i>
                        </div>
                        <div class="media-body media-middle">Posición final del partido o coalición</div>
                    </div>
                </div>
                <div id="win-lose" class="col-lg-4 col-md-4 col-sm-12 text-left">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa medium fa-trophy" aria-hidden="true"></i>
                        </div>
                        <div class="media-body media-middle">
                            <strong><span class="color-green">{{vm.pollingPlacesWonLose.pollingPlacesWon}} distritos ganados</span>, <span class="color-orange">{{vm.pollingPlacesWonLose.pollingPlacesLose}} distritos perdidos</span></strong>
                        </div>
                    </div>
                </div>
                <div id="counting-assumption" class="col-lg-4 col-md-4 col-sm-12 text-left">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa medium fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <div class="media-body media-middle">
                            Supuestos de recuento total
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-bordered">
            <table class="jh-table table table-striped table-bordered">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="section"><span data-translate="sidenerApp.pollingPlace.section">Section</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="town"><span data-translate="sidenerApp.pollingPlace.town">Town</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.typePollingPlace">Type Polling Place</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.politicalPartyFirstPlace">Political Party First Place</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.politicalPartySecondPlace">Political Party Second Place</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.difference">Difference</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.nullVotes">Null Votes</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.description">Description</span>
                    <th><span data-translate="sidenerApp.pollingPlace.watchRecordCount">Watch Record Count</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pollingPlace in vm.pollingPlaces track by pollingPlace.id" ng-class="countingAssumption(pollingPlace.countingAssumption)">
                    <td><a ui-sref="polling-place-detail({id:pollingPlace.id})" class="btn btn-info">{{pollingPlace.section}}</a></td>
                    <td>{{pollingPlace.town}}</td>
                    <td><span ng-bind="pollingPlaceType(pollingPlace.typePollingPlace, pollingPlace.typeNumber)"></span></td>
                    <td>
                        <div class="media" ng-if="pollingPlace.totalVotes">
                            <div class="media-left media-middle">
                                <span><strong>{{pollingPlace.entityFirstPlace }}</strong></span><br>
                                <span>{{pollingPlace.totalFirstPlace | number}} votos | {{pollingPlace.percentageFirstPlace | number:2 }}</span>
                            </div>
                            <div class="media-right media-middle">
                                <span class="associated-position" ng-bind-html="asociatedPosition(pollingPlace.entityFirstPlace)"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="media" ng-if="pollingPlace.totalVotes">
                            <div class="media-left media-middle">
                                <span><strong>{{pollingPlace.entitySecondPlace }}</strong></span><br>
                                <span>{{pollingPlace.totalSecondPlace | number}} votos | {{pollingPlace.percentageSecondPlace | number:2 }}</span>
                            </div>
                            <div class="media-right media-middle">
                                <span class="associated-position" ng-bind-html="asociatedPosition(pollingPlace.entitySecondPlace)"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="pollingPlace.totalVotes">
                            {{(pollingPlace.difference )}}
                        </div>
                    </td>
                    <td>
                        <div ng-if="pollingPlace.totalVotes">
                            {{pollingPlace.nullVotes}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label data-translate="sidenerApp.pollingPlace.causals" for="select-field-causals">Causals</label>
                            <ui-select multiple ng-model="pollingPlace.causals" id="select-field-causals" theme="bootstrap" sortable="true" close-on-select="false" search-enabled="true">
                                <ui-select-match>
                                    <span class="causal-color" ng-style="{'background-color': $item.color}" uib-tooltip="{{$item.name}}" tooltip-placement="left"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="causal in vm.causalsRecount" position='down'>
                                    <span class="causal-color" ng-style="{'background-color': causal.color}"></span>
                                    <span class="causal-description" ng-bind-html="causal.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <button type="submit" ng-click="updateCausals(pollingPlace)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                        </button>
                    </td>
                    <td class="text-center">
                        <div ng-if="pollingPlace.urlRecordCount!=null">
                            <div class="btn-group">
                                <a href="{{pollingPlace.urlRecordCount}}" target="_blank"
                                   class="btn btn-info btn-sm"
                                    role="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>
