<div>

        <div class="breadcrumb">
                <a >
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__title"><span><h1  data-translate="sidenerApp.recount.partial"></h1></span></span>
                    </span>
                </a>
                <a>
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title"><span>{{vm.election.electionTypeName}}</span></span>
                            <span class="breadcrumb__desc">{{vm.election.periodElection}}</span>

                        </span>
                    </a>
                <a >
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__title"><span data-translate="{{'sidenerApp.State.' + vm.election.state}}"></span></span>
                    </span>
                </a>
                <a>
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title"><span data-translate="{{vm.district.districtHead}}"></span></span>
                            <span class="breadcrumb__desc">{{vm.district.romanNumber}}</span>
                        </span>
                    </a>
            </div>


    <jhi-alert></jhi-alert>

    <div class="table-container">
        <div class="table-header">
            <div class="row">
                <div id="position" class="col-lg-4 col-md-4 col-sm-12 text-left">
                        <div class="media">
                                <div class="media-left">
                                    <i class="fa medium fa-certificate associated-position" aria-hidden="true"></i>
                                    <strong>
                                            <span class="associated-position">{{vm.pollingPlacesWonLose.pollingPlacesWon}} casillas ganadas</span>
                                        </strong>
                                </div>
                                <div class="media-left">
                                        &nbsp;<i class="fa medium fa-certificate color-blue" aria-hidden="true"></i>
                                        <strong>
                                            <span class="color-blue">{{vm.pollingPlacesWonLose.pollingPlacesLose}} casillas perdidas</span>
                                        </strong>
                                </div>


                            </div>
                </div>
                <div id="win-lose" class="col-lg-4 col-md-4 col-sm-12 text-left">

                </div>
                <div id="counting-assumption" class="col-lg-4 col-md-4 col-sm-12 text-left">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa medium fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <div class="media-body media-middle">
                            Casillas con recuentos cuantitativos <strong>{{vm.pollingPlaceCuantitative.length}}</strong>
                        </div>
                        <div class="media-body media-middle">
                                Casillas con recuentos cualitativos <strong>{{vm.pollingPlaceCualitative.length}}</strong>
                            </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa medium fa-file" aria-hidden="true"></i>
                        </div>
                        <div class="media-body media-middle">
                            <a class="btn btn-info btn-sm color-oscuro" ng-click="vm.downloadDocument(vm.district.id)" data-translate="sidenerApp.recount.statement-recount"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-bordered">
            <table class="jh-table table table-striped table-bordered">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="section"><span data-translate="sidenerApp.pollingPlace.section">Section</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="town"><span data-translate="sidenerApp.pollingPlace.town">Town</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.typePollingPlace">Type Polling Place</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.politicalPartyFirstPlace">Political Party First Place</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.politicalPartySecondPlace">Political Party Second Place</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.difference">Difference</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.nullVotes">Null Votes</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.description">Description</span>
                    <th><span data-translate="sidenerApp.pollingPlace.watchRecordCount">Watch Record Count</span></th>
                    <th><span data-translate="sidenerApp.pollingPlace.enablePollingPlace"></span></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pollingPlace in vm.pollingPlaces track by pollingPlace.id" ng-class="countingAssumption(pollingPlace.countingAssumption, pollingPlace.causals.length)">
                    <td><a ui-sref="polling-place-detail({id:pollingPlace.id})" class="btn btn-info">{{pollingPlace.section}}</a></td>
                    <td>{{pollingPlace.town}}</td>
                    <td><span ng-bind="pollingPlaceType(pollingPlace.typePollingPlace, pollingPlace.typeNumber)"></span></td>
                    <td>
                        <div class="media" ng-if="pollingPlace.totalVotes">
                            <div class="media-left media-middle">
                                <span><strong>{{pollingPlace.entityFirstPlace }}</strong></span><br>
                                <span>{{pollingPlace.totalFirstPlace | number}} votos | {{pollingPlace.percentageFirstPlace | number:2 }}</span>
                            </div>
                            <div class="media-right media-middle">
                                <span class="associated-position" ng-bind-html="associatedPosition(pollingPlace.entityFirstPlace)"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="media" ng-if="pollingPlace.totalVotes">
                            <div class="media-left media-middle">
                                <span><strong>{{pollingPlace.entitySecondPlace }}</strong></span><br>
                                <span>{{pollingPlace.totalSecondPlace | number}} votos | {{pollingPlace.percentageSecondPlace | number:2 }}</span>
                            </div>
                            <div class="media-right media-middle">
                                <span class="color-blue" ng-bind-html="associatedPosition(pollingPlace.entitySecondPlace)"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="pollingPlace.totalVotes">
                            {{(pollingPlace.difference )}}
                        </div>
                    </td>
                    <td>
                        <div ng-if="pollingPlace.totalVotes">
                            {{pollingPlace.nullVotes}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label data-translate="sidenerApp.pollingPlace.causals" for="select-field-causals">Causals</label>
                            <ui-select multiple ng-model="pollingPlace.causals"  id="select-field-causals" theme="bootstrap" sortable="true" close-on-select="false" search-enabled="true">
                                <ui-select-match>
                                    <span class="causal-color" ng-style="{'background-color': $item.color}" uib-tooltip="{{$item.name}}" tooltip-placement="left"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="causal in vm.causalsRecount" position='down'>
                                    <span class="causal-color" ng-style="{'background-color': causal.color}"></span>
                                    <span class="causal-description" ng-bind-html="causal.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <button type="submit" ng-click="updateCausals(pollingPlace)" class="btn btn-electorum">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                        </button>
                    </td>
                    <td class="text-center">
                        <div ng-if="pollingPlace.urlRecordCount!=null">
                            <div class="btn-group">
                                <a href="{{pollingPlace.urlRecordCount}}" target="_blank"
                                   class="btn btn-info btn-sm"
                                    role="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <span ng-if="pollingPlace.causals.length > 0 ">
                                    {{vm.generateCausals(pollingPlace)}}
                            </span>
                            <label>
                              <input type="checkbox" ng-model="confirmed[pollingPlace.id]" ng-change="vm.addThisPollingPlace(pollingPlace,confirmed[pollingPlace.id])" id='ng-change-{{pollingPlace.id}}'  ng-checked="pollingPlace.causals.length > 0 || pollingPlace.challengedPollingPlace == true " />

                            </label>
                          </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>-->
    </div>
</div>
