<form name="editForm" role="form" novalidate ng-submit="vm.save()" xmlns="http://www.w3.org/1999/html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myElectionLabel" data-translate="sidenerApp.election.home.createOrEditLabel">Create or edit a Election</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="panel panel-default">
            <div class="panel-heading">Información</div>
            <div class="panel-body">
                <div class="form-group" ng-show="vm.election.id" hidden>
                    <label for="id" data-translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="vm.election.id" readonly />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="sidenerApp.election.state" for="field_state">State</label>
                    <select class="form-control" name="state" ng-model="vm.election.state" id="field_state">
                        <option value="AGU" data-translate="sidenerApp.State.AGU">AGU</option>
                        <option value="BCN" data-translate="sidenerApp.State.BCN">BCN</option>
                        <option value="BCS" data-translate="sidenerApp.State.BCS">BCS</option>
                        <option value="CAM" data-translate="sidenerApp.State.CAM">CAM</option>
                        <option value="CHP" data-translate="sidenerApp.State.CHP">CHP</option>
                        <option value="CHH" data-translate="sidenerApp.State.CHH">CHH</option>
                        <option value="COA" data-translate="sidenerApp.State.COA">COA</option>
                        <option value="COL" data-translate="sidenerApp.State.COL">COL</option>
                        <option value="CMX" data-translate="sidenerApp.State.CMX">CMX</option>
                        <option value="DUR" data-translate="sidenerApp.State.DUR">DUR</option>
                        <option value="GUA" data-translate="sidenerApp.State.GUA">GUA</option>
                        <option value="GRO" data-translate="sidenerApp.State.GRO">GRO</option>
                        <option value="HID" data-translate="sidenerApp.State.HID">HID</option>
                        <option value="JAL" data-translate="sidenerApp.State.JAL">JAL</option>
                        <option value="MEX" data-translate="sidenerApp.State.MEX">MEX</option>
                        <option value="MIC" data-translate="sidenerApp.State.MIC">MIC</option>
                        <option value="MOR" data-translate="sidenerApp.State.MOR">MOR</option>
                        <option value="NAY" data-translate="sidenerApp.State.NAY">NAY</option>
                        <option value="NLE" data-translate="sidenerApp.State.NLE">NLE</option>
                        <option value="OAX" data-translate="sidenerApp.State.OAX">OAX</option>
                        <option value="PUE" data-translate="sidenerApp.State.PUE">PUE</option>
                        <option value="QUE" data-translate="sidenerApp.State.QUE">QUE</option>
                        <option value="ROO" data-translate="sidenerApp.State.ROO">ROO</option>
                        <option value="SLP" data-translate="sidenerApp.State.SLP">SLP</option>
                        <option value="SIN" data-translate="sidenerApp.State.SIN">SIN</option>
                        <option value="SON" data-translate="sidenerApp.State.SON">SON</option>
                        <option value="TAB" data-translate="sidenerApp.State.TAB">TAB</option>
                        <option value="TAM" data-translate="sidenerApp.State.TAM">TAM</option>
                        <option value="TLA" data-translate="sidenerApp.State.TLA">TLA</option>
                        <option value="VER" data-translate="sidenerApp.State.VER">VER</option>
                        <option value="YUC" data-translate="sidenerApp.State.YUC">YUC</option>
                        <option value="ZAC" data-translate="sidenerApp.State.ZAC">ZAC</option>
                    </select>
                </div>
                <div class="form-group">
                    <label data-translate="sidenerApp.election.electionType" for="field_electionType">Election Type</label>
                    <select class="form-control" id="field_electionType" name="electionType" ng-model="vm.election.electionTypeId" ng-options="electionType.id as electionType.name for electionType in vm.electiontypes"            >
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="sidenerApp.election.periodElection" for="field_periodElection">Period Election</label>
                    <input type="text" class="form-control" name="periodElection" id="field_periodElection"
                           ng-model="vm.election.periodElection"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="sidenerApp.election.dateElection" for="field_dateElection">Date Election</label>
                    <div class="input-group">
                        <input id="field_dateElection" type="text" class="form-control" name="dateElection" datetime-picker="{{dateformat}}" ng-model="vm.election.dateElection" is-open="vm.datePickerOpenStatus.dateElection"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateElection')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="sidenerApp.election.status" for="field_status">Status</label>
                    <select class="form-control" name="status" ng-model="vm.election.status" id="field_status">
                        <option value="NEW" data-translate="sidenerApp.Status.NEW">NEW</option>
                        <option value="IN_PROGRESS" data-translate="sidenerApp.Status.IN_PROGRESS">IN_PROGRESS</option>
                        <option value="COMPLETE" data-translate="sidenerApp.Status.COMPLETE">COMPLETE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Partido/alianza asociad(a)</label>
                    <div class="row" ng-init="asociated = checked()">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input type="radio" ng-model="asociated" ng-change="change(asociated)" value="politicalPartyAsociated"><span data-translate="sidenerApp.election.politicalPartyAsociated">Political Party Asociated</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input type="radio" ng-model="asociated" ng-change="change(asociated)" value="coalitionAsociated"><span data-translate="sidenerApp.election.coalitionAsociated">Coalition Asociated</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input type="radio" ng-model="asociated" ng-change="change(asociated)" value="independentCandidateAsociated"><span data-translate="sidenerApp.election.independentCandidateAsociated">Independent Candidate Asociated</span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group" ng-show="asociated == 'politicalPartyAsociated'">
                            <label data-translate="sidenerApp.election.politicalPartyAsociated" for="field_politicalPartyAsociated">Political Party Asociated</label>
                            <select class="form-control" id="field_politicalPartyAsociated" name="politicalPartyAsociated" ng-model="vm.election.politicalPartyAsociatedId" ng-options="politicalParty.id as politicalParty.name for politicalParty in vm.politicalparties">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="asociated == 'coalitionAsociated'">
                            <label data-translate="sidenerApp.election.coalitionAsociated" for="field_coalitionAsociated">Coalition Asociated</label>
                            <select class="form-control" id="field_coalitionAsociated" name="coalitionAsociated" ng-model="vm.election.coalitionAsociatedId" ng-options="coalition.id as coalition.name for coalition in vm.coalitions">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group" ng-show="asociated == 'independentCandidateAsociated'">
                            <label data-translate="sidenerApp.election.independentCandidateAsociated" for="field_independentCandidateAsociated">Independent Candidate Asociated</label>
                            <select class="form-control" id="field_independentCandidateAsociated" name="independentCandidateAsociated" ng-model="vm.election.independentCandidateAsociatedId" ng-options="independentCandidate.id as independentCandidate.name for independentCandidate in vm.independentcandidates">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label data-translate="sidenerApp.election.politicalParties" for="field_politicalParties">Political Parties</label>
                    <ui-select multiple ng-model="vm.election.politicalParties" id="field_politicalParties" theme="bootstrap" sortable="true" close-on-select="false" search-enabled="true">
                        <ui-select-match placeholder="Seleccion de Partidos Políticos:">
                            <img src="public/api/archives/download?filename={{$item.imagePath}}" width="30px" height="30px" ng-if="$item.imagePath"/>
                            {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="politicalParty in vm.politicalparties | propsFilter: {name: $select.search}" position='down'>
                            <div class="political-party">
                                <img src="public/api/archives/download?filename={{politicalParty.imagePath}}" width="30px" height="30px" ng-if="politicalParty.imagePath"/>
                                <span ng-bind-html="politicalParty.name | highlight: $select.search"></span>
                                <small>-<strong>{{politicalParty.acronym}}</strong>-</small>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label data-translate="sidenerApp.election.independentCandidates" for="field_independentCandidates">Independent Candidates</label>
                    <ui-select multiple ng-model="vm.election.independentCandidates" id="field_independentCandidates" theme="bootstrap" sortable="true" close-on-select="false" search-enabled="true">
                        <ui-select-match placeholder="Seleccion de Candidatos Independientes:">
                            <img src="public/api/archives/download?filename={{$item.imagePath}}" width="30px" height="30px" ng-if="$item.imagePath"/>
                            {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="independentCandidate in vm.independentcandidates | propsFilter: {name: $select.search}" position='down'>
                            <div class="independent-candidate">
                                <img src="public/api/archives/download?filename={{independentCandidate.imagePath}}" width="30px" height="30px" ng-if="independentCandidate.imagePath"/>
                                <span ng-bind-html="independentCandidate.name | highlight: $select.search"></span>
                                <small>-<strong>{{independentCandidate.acronym}}</strong>-</small>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label data-translate="sidenerApp.election.coalitions" for="field_coalitions">Coalitions</label>
                    <ui-select multiple ng-model="vm.election.coalitions" id="field_coalitions" theme="bootstrap" sortable="true" close-on-select="false" search-enabled="true">
                        <ui-select-match placeholder="Seleccion de Coaliciones:">
                            <img src="public/api/archives/download?filename={{$item.imagePath}}" width="30px" height="30px" ng-if="$item.imagePath"/>
                            {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="coalition in vm.coalitions | propsFilter: {name: $select.search}" position='down'>
                            <div class="coalition">
                                <img src="public/api/archives/download?filename={{coalition.imagePath}}" width="30px" height="30px" ng-if="coalition.imagePath"/>
                                <span ng-bind-html="coalition.name | highlight: $select.search"></span>
                                <small>-<strong>{{coalition.acronym}}</strong>-</small>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Documentos</div>
            <div class="panel-body">
                <!--  Database  -->
                <div class="form-group" ngf-drop ngf-change="vm.setDatabase($file, vm.election)">
                    <label class="control-label" data-translate="sidenerApp.election.dataBase" for="field_dataBase">Data Base</label>
                    <div>
	                	<div ng-if="vm.election.dataBase" class="help-block clearfix">
	                		<span class="pull-left">{{vm.election.cvFileContentType}}, {{vm.byteSize(vm.election.cvFile)}}</span>
                         <button type="button" ng-click="vm.election.dbFile=null;vm.election.dbFileContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        		<span class="glyphicon glyphicon-remove"></span>
                    		</button>
	                	</div>
	                	<button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setDatabase($file, vm.election)">Agregar Archivo</button>
	                </div>
	                <input type="hidden" class="form-control" name="cvFile" id="field_cvFile" ng-model="vm.election.dbFile"/>
                    <input type="hidden" class="form-control" name="cvFileContentType" id="field_cvFileContentType" ng-model="vm.election.dbFileContentType" />
                </div>
                <!-- Termina Database -->
                <!-- Inicia Encarte -->
                <div class="form-group" ngf-drop ngf-change="vm.setEncarte($file, vm.election)">
                    <label class="control-label" data-translate="sidenerApp.election.insetUrl" for="field_insetUrl">Inset Url</label>
                    <div>
                        <div ng-if="vm.election.insetUrl" class="help-block clearfix">
                            <span class="pull-left">{{vm.election.iuFileContentType}}, {{vm.byteSize(vm.election.iuFile)}}</span>
                            <button type="button" ng-click="vm.election.iuFile=null;vm.election.iuFileContentType=null;" class="btn btn-default btn-xs pull-right">
                           	    <span class="glyphicon glyphicon-remove"></span>
                       		</button>
                        </div>
                    	<button type="button" ngf-select class="btn btn-default btn-block" ngf-change="vm.setEncarte($file, vm.election)">Agregar Archivo</button>
                    </div>
                    <input type="hidden" class="form-control" name="iuFile" id="field_iuFile" ng-model="vm.election.iuFile" />
                    <input type="hidden" class="form-control" name="iuFileContentType" id="field_iuFileContentType" ng-model="vm.election.iuFileContentType" />

                </div>
                <!-- Termina Encarte -->
                <!-- Inicia Hoja de Incidentes -->
                <div class="form-group" ngf-drop ngf-change="vm.setHojaIncidentes($file, vm.election)">
                    <label class="control-label" data-translate="sidenerApp.election.incidentSheet" for="field_incidentSheet">Incident Sheet</label>
                    <div>
                        <div ng-if="vm.election.incidentSheet" class="help-block clearfix">
                            <span class="pull-left">{{vm.election.isFileContentType}}, {{vm.byteSize(vm.election.isFile)}}</span>
                            <button type="button" ng-click="vm.election.isFile=null;vm.election.isFileContentType=null;" class="btn btn-default btn-xs pull-right">
                           		<span class="glyphicon glyphicon-remove"></span>
                       		</button>
                        </div>
                        <button type="button" ngf-select class="btn btn-default btn-block" ngf-change="vm.setHojaIncidentes($file, vm.election)">Agregar Archivo</button>
                    </div>
                    <input type="hidden" class="form-control" name="isFile" id="field_isFile" ng-model="vm.election.isFile" />
                    <input type="hidden" class="form-control" name="isFileContentType" id="field_isFileContentType" ng-model="vm.election.isFileContentType" />
                </div>
                <!-- Termina Hoja de Incidentes -->
				<!-- Inicia  Acta de la Jornada -->
                <div class="form-group" ngf-drop ngf-change="vm.setActaJornada($file, vm.election)">
                    <label class="control-label" data-translate="sidenerApp.election.dayRecord" for="field_dayRecord">Day Record</label>
                    <div>
                        <div ng-if="vm.election.dayRecord" class="help-block clearfix">
                            <span class="pull-left">{{vm.election.drFileContentType}}, {{vm.byteSize(vm.election.drFile)}}</span>
                            <button type="button" ng-click="vm.election.drFile=null;vm.election.drFileContentType=null;"  class="btn btn-default btn-xs pull-right">
                           		<span class="glyphicon glyphicon-remove"></span>
                       		</button>
                        </div>
                        <button type="button" ngf-select class="btn btn-default btn-block"  ngf-change="vm.setActaJornada($file, vm.election)">Agregar Archivo</button>
                    </div>
                    <input type="hidden" class="form-control" name="drFile" id="field_drFile" ng-model="vm.election.drFile" />
                    <input type="hidden" class="form-control" name="drFileContentType" id="field_drFileContentType" ng-model="vm.election.drFileContentType" />
                </div>
                <!-- Termina Acta de la Jornada -->
				<!-- Inicia Plantilla de la Demanda -->
                <div class="form-group" ngf-drop ngf-change="vm.setPlantillaDemanda($file, vm.election)">
                    <label class="control-label" data-translate="sidenerApp.election.demandTemplateUrl" for="field_demandTemplateUrl">Demand Template Url</label>
                    <div>
                        <div ng-if="vm.election.demandTemplateUrl" class="help-block clearfix">
                            <span class="pull-left">{{vm.election.dmFileContentType}}, {{vm.byteSize(vm.election.dmFile)}}</span>
                            <button type="button" ng-click="vm.election.dmFile=null;vm.election.dmFileContentType=null;"  class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                       		</button>
                        </div>
                        <button type="button" ngf-select class="btn btn-default btn-block" ngf-change="vm.setPlantillaDemanda($file, vm.election)">Agregar Archivo</button>
                    </div>
                    <input type="hidden" class="form-control" name="dmFile" id="field_dmFile" ng-model="vm.election.dmFile" />
                    <input type="hidden" class="form-control" name="dmFileContentType" id="field_dmFileContentType" ng-model="vm.election.dmFileContentType" />
                </div>
				<!-- Termina Plantilla de la Demanda  -->
				<!-- Inicia Plantilla de Recuento -->
                <div class="form-group" ngf-drop ngf-change="vm.setPlantillaRecuento($file, vm.election)">
                    <label class="control-label" data-translate="sidenerApp.election.recountTemplateUrl" for="field_recountTemplateUrl">Recount Template Url</label>
                    <div>
                        <div ng-if="vm.election.recountTemplateUrl" class="help-block clearfix">
                            <span class="pull-left">{{vm.election.rtFileContentType}}, {{vm.byteSize(vm.election.rtFile)}}</span>
                            <button type="button" ng-click="vm.election.rtFile=null;vm.election.rtFileContentType=null;"  class="btn btn-default btn-xs pull-right">
                           		<span class="glyphicon glyphicon-remove"></span>
                       		</button>
                        </div>
                        <button type="button" ngf-select class="btn btn-default btn-block" ngf-change="vm.setPlantillaRecuento($file, vm.election)">Agregar Archivo</button>
                    </div>
                    <input type="hidden" class="form-control" name="rtFile" id="field_dmFile" ng-model="vm.election.rtFile" />
                    <input type="hidden" class="form-control" name="rtFileContentType" id="field_rtFileContentType" ng-model="vm.election.rtFileContentType" />
                </div>
				<!-- Termina Plantilla de la Demanda  -->
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" data-translate="sidenerApp.election.recountDistrictsRule" for="field_recountDistrictsRule">Recount Districts Rule</label>
                    <select class="form-control" name="recountDistrictsRule" ng-model="vm.election.recountDistrictsRule" id="field_recountDistrictsRule">
                        <option value="LESS_1" data-translate="sidenerApp.RecountDistrictsRule.LESS_1">LESS_1</option>
                        <option value="LESS_EQUAL_1" data-translate="sidenerApp.RecountDistrictsRule.LESS_EQUAL_1">LESS_EQUAL_1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="sidenerApp.election.recountPollingPlaceRule" for="field_recountPollingPlaceRule">Recount Polling Place Rule</label>
                    <select class="form-control" name="recountPollingPlaceRule" ng-model="vm.election.recountPollingPlaceRule" id="field_recountPollingPlaceRule">
                        <option value="LESS_1" data-translate="sidenerApp.RecountPollingPlaceRule.LESS_1">LESS_1</option>
                        <option value="LESS_EQUAL_1" data-translate="sidenerApp.RecountPollingPlaceRule.LESS_EQUAL_1">LESS_EQUAL_1</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Demandas</div>
            <div class="panel-body">
                <div class="form-group">
                <label class="control-label" data-translate="sidenerApp.election.nameDemandant" for="field_nameDemandant">Name Demandant</label>
                <input type="text" class="form-control" name="nameDemandant" id="field_nameDemandant"
                       ng-model="vm.election.nameDemandant"
                />
            </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Nulidad</div>
            <div class="panel-body">
                <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.recountElectoralInstitute" for="field_recountElectoralInstitute">Recount Electoral Institute</label>
            <input type="text" class="form-control" name="recountElectoralInstitute" id="field_recountElectoralInstitute"
                    ng-model="vm.election.recountElectoralInstitute"
                    />
        </div>
                <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.recountType" for="field_recountType">Recount Type</label>
            <input type="text" class="form-control" name="recountType" id="field_recountType"
                    ng-model="vm.election.recountType"
                    />
        </div>
                <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.recountFundamentRequest" for="field_recountFundamentRequest">Recount Fundament Request</label>
                <textarea class="form-control" name="recountFundamentRequest" id="field_recountFundamentRequest"
                    ng-model="vm.election.recountFundamentRequest" ></textarea>
        </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.published" for="field_published">Published</label>
            <input type="checkbox" name="published" id="field_published"
                   ng-model="vm.election.published"/>
        </div>

        <div class="form-group">
            <label data-translate="sidenerApp.election.user" for="field_user">User</label>
            <ui-select multiple ng-model="vm.election.users" id="field_user" theme="bootstrap" sortable="true" close-on-select="false" search-enabled="true" class="causal">
                <ui-select-match placeholder="Seleccion de usuarios:">
                    <span class="username">{{$item.login}}</span>
                </ui-select-match>
                <ui-select-choices repeat="user in vm.users | propsFilter: {login: $select.search}" position='down'>
                    <span class="username" ng-bind-html="user.login | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
            <!--<select class="form-control" id="field_user" multiple name="user" ng-model="vm.election.users" ng-options="user as user.login for user in vm.users track by user.id"></select>-->
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
