
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myElectionLabel" data-translate="sidenerApp.election.home.createOrEditLabel">Create or edit a Election</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.election.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.election.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.election.state" id="field_state">
                <option value="AGU" data-translate="sidenerApp.State.AGU">AGU</option>
                <option value="BCN" data-translate="sidenerApp.State.BCN">BCN</option>
                <option value="BCS" data-translate="sidenerApp.State.BCS">BCS</option>
                <option value="CAM" data-translate="sidenerApp.State.CAM">CAM</option>
                <option value="CHP" data-translate="sidenerApp.State.CHP">CHP</option>
                <option value="CHH" data-translate="sidenerApp.State.CHH">CHH</option>
                <option value="COA" data-translate="sidenerApp.State.COA">COA</option>
                <option value="COL" data-translate="sidenerApp.State.COL">COL</option>
                <option value="CMX" data-translate="sidenerApp.State.CMX">CMX</option>
                <option value="DUR" data-translate="sidenerApp.State.DUR">DUR</option>
                <option value="GUA" data-translate="sidenerApp.State.GUA">GUA</option>
                <option value="GRO" data-translate="sidenerApp.State.GRO">GRO</option>
                <option value="HID" data-translate="sidenerApp.State.HID">HID</option>
                <option value="JAL" data-translate="sidenerApp.State.JAL">JAL</option>
                <option value="MEX" data-translate="sidenerApp.State.MEX">MEX</option>
                <option value="MIC" data-translate="sidenerApp.State.MIC">MIC</option>
                <option value="MOR" data-translate="sidenerApp.State.MOR">MOR</option>
                <option value="NAY" data-translate="sidenerApp.State.NAY">NAY</option>
                <option value="NLE" data-translate="sidenerApp.State.NLE">NLE</option>
                <option value="OAX" data-translate="sidenerApp.State.OAX">OAX</option>
                <option value="PUE" data-translate="sidenerApp.State.PUE">PUE</option>
                <option value="QUE" data-translate="sidenerApp.State.QUE">QUE</option>
                <option value="ROO" data-translate="sidenerApp.State.ROO">ROO</option>
                <option value="SLP" data-translate="sidenerApp.State.SLP">SLP</option>
                <option value="SIN" data-translate="sidenerApp.State.SIN">SIN</option>
                <option value="SON" data-translate="sidenerApp.State.SON">SON</option>
                <option value="TAB" data-translate="sidenerApp.State.TAB">TAB</option>
                <option value="TAM" data-translate="sidenerApp.State.TAM">TAM</option>
                <option value="TLA" data-translate="sidenerApp.State.TLA">TLA</option>
                <option value="VER" data-translate="sidenerApp.State.VER">VER</option>
                <option value="YUC" data-translate="sidenerApp.State.YUC">YUC</option>
                <option value="ZAC" data-translate="sidenerApp.State.ZAC">ZAC</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.dateElection" for="field_dateElection">Date Election</label>
                <div class="input-group">
                    <input id="field_dateElection" type="text" class="form-control" name="dateElection" datetime-picker="{{dateformat}}" ng-model="vm.election.dateElection" is-open="vm.datePickerOpenStatus.dateElection"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateElection')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.election.status" id="field_status">
                <option value="NEW" data-translate="sidenerApp.Status.NEW">NEW</option>
                <option value="IN_PROGRESS" data-translate="sidenerApp.Status.IN_PROGRESS">IN_PROGRESS</option>
                <option value="COMPLETE" data-translate="sidenerApp.Status.COMPLETE">COMPLETE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.prepUrl" for="field_prepUrl">Prep Url</label>
            <input type="text" class="form-control" name="prepUrl" id="field_prepUrl"
                    ng-model="vm.election.prepUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.ballotUrl" for="field_ballotUrl">Ballot Url</label>
            <input type="text" class="form-control" name="ballotUrl" id="field_ballotUrl"
                    ng-model="vm.election.ballotUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.insetUrl" for="field_insetUrl">Inset Url</label>
            <input type="text" class="form-control" name="insetUrl" id="field_insetUrl"
                    ng-model="vm.election.insetUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.demandTemplateUrl" for="field_demandTemplateUrl">Demand Template Url</label>
            <input type="text" class="form-control" name="demandTemplateUrl" id="field_demandTemplateUrl"
                    ng-model="vm.election.demandTemplateUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.recountTemplateUrl" for="field_recountTemplateUrl">Recount Template Url</label>
            <input type="text" class="form-control" name="recountTemplateUrl" id="field_recountTemplateUrl"
                    ng-model="vm.election.recountTemplateUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.recountDistrictsRule" for="field_recountDistrictsRule">Recount Districts Rule</label>
            <select class="form-control" name="recountDistrictsRule" ng-model="vm.election.recountDistrictsRule" id="field_recountDistrictsRule">
                <option value="LESS_1" data-translate="sidenerApp.RecountDistrictsRule.LESS_1">LESS_1</option>
                <option value="LESS_EQUAL_1" data-translate="sidenerApp.RecountDistrictsRule.LESS_EQUAL_1">LESS_EQUAL_1</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.recountPollingPlaceRule" for="field_recountPollingPlaceRule">Recount Polling Place Rule</label>
            <select class="form-control" name="recountPollingPlaceRule" ng-model="vm.election.recountPollingPlaceRule" id="field_recountPollingPlaceRule">
                <option value="LESS_1" data-translate="sidenerApp.RecountPollingPlaceRule.LESS_1">LESS_1</option>
                <option value="LESS_EQUAL_1" data-translate="sidenerApp.RecountPollingPlaceRule.LESS_EQUAL_1">LESS_EQUAL_1</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.published" for="field_published">Published</label>
                <input type="checkbox" name="published" id="field_published"
                          ng-model="vm.election.published"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.election.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.election.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" datetime-picker="{{dateformat}}" ng-model="vm.election.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="sidenerApp.election.electionType" for="field_electionType">Election Type</label>
            <select class="form-control" id="field_electionType" name="electionType" ng-model="vm.election.electionTypeId" ng-options="electionType.id as electionType.name for electionType in vm.electiontypes"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.electionPeriod" for="field_electionPeriod">Election Period</label>
            <select class="form-control" id="field_electionPeriod" name="electionPeriod" ng-model="vm.election.electionPeriodId" ng-options="electionPeriod.id as electionPeriod.name for electionPeriod in vm.electionperiods"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.politicalPartyAsociated" for="field_politicalPartyAsociated">Political Party Asociated</label>
            <select class="form-control" id="field_politicalPartyAsociated" name="politicalPartyAsociated" ng-model="vm.election.politicalPartyAsociatedId" ng-options="politicalParty.id as politicalParty.id for politicalParty in vm.politicalparties"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.coalitionAsociated" for="field_coalitionAsociated">Coalition Asociated</label>
            <select class="form-control" id="field_coalitionAsociated" name="coalitionAsociated" ng-model="vm.election.coalitionAsociatedId" ng-options="coalition.id as coalition.id for coalition in vm.coalitions"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.independentCandidateAsociated" for="field_independentCandidateAsociated">Independent Candidate Asociated</label>
            <select class="form-control" id="field_independentCandidateAsociated" name="independentCandidateAsociated" ng-model="vm.election.independentCandidateAsociatedId" ng-options="independentCandidate.id as independentCandidate.id for independentCandidate in vm.independentcandidates"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.politicalParties" for="field_politicalParties">Political Parties</label>
            <select class="form-control" id="field_politicalParties" multiple name="politicalParties" ng-model="vm.election.politicalParties" ng-options="politicalParty as politicalParty.name for politicalParty in vm.politicalparties track by politicalParty.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.independentCandidates" for="field_independentCandidates">Independent Candidates</label>
            <select class="form-control" id="field_independentCandidates" multiple name="independentCandidates" ng-model="vm.election.independentCandidates" ng-options="independentCandidate as independentCandidate.name for independentCandidate in vm.independentcandidates track by independentCandidate.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.coalitions" for="field_coalitions">Coalitions</label>
            <select class="form-control" id="field_coalitions" multiple name="coalitions" ng-model="vm.election.coalitions" ng-options="coalition as coalition.name for coalition in vm.coalitions track by coalition.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.election.causals" for="field_causals">Causals</label>
            <select class="form-control" id="field_causals" multiple name="causals" ng-model="vm.election.causals" ng-options="causal as causal.name for causal in vm.causals track by causal.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
