<div>
    <h2>{{vm.election.electionTypeName}} - <span data-translate="{{'sidenerApp.State.' + vm.election.state}}">{{vm.election.state}}</span> -  <span>{{vm.election.periodElection}}</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="sidenerApp.election.state">State</span></dt>
        <dd>
            <span data-translate="{{'sidenerApp.State.' + vm.election.state}}">{{vm.election.state}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.periodElection">Period Election</span></dt>
        <dd>
            <span>{{vm.election.periodElection}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.dateElection">Date Election</span></dt>
        <dd>
            <span>{{vm.election.dateElection | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.status">Status</span></dt>
        <dd>
            <span data-translate="{{'sidenerApp.Status.' + vm.election.status}}">{{vm.election.status}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.dataBase">Data Base</span></dt>
        <dd>
            <span>{{vm.election.dataBase}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.insetUrl">Inset Url</span></dt>
        <dd>
            <span>{{vm.election.insetUrl}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.incidentSheet">Incident Sheet</span></dt>
        <dd>
            <span>{{vm.election.incidentSheet}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.dayRecord">Day Record</span></dt>
        <dd>
            <span>{{vm.election.dayRecord}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.demandTemplateUrl">Demand Template Url</span></dt>
        <dd>
            <span>{{vm.election.demandTemplateUrl}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.recountTemplateUrl">Recount Template Url</span></dt>
        <dd>
            <span>{{vm.election.recountTemplateUrl}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.recountDistrictsRule">Recount Districts Rule</span></dt>
        <dd>
            <span data-translate="{{'sidenerApp.RecountDistrictsRule.' + vm.election.recountDistrictsRule}}">{{vm.election.recountDistrictsRule}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.recountPollingPlaceRule">Recount Polling Place Rule</span></dt>
        <dd>
            <span data-translate="{{'sidenerApp.RecountPollingPlaceRule.' + vm.election.recountPollingPlaceRule}}">{{vm.election.recountPollingPlaceRule}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.nameDemandant">Name Demandant</span></dt>
        <dd>
            <span>{{vm.election.nameDemandant}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.recountElectoralInstitute">Recount Electoral Institute</span></dt>
        <dd>
            <span>{{vm.election.recountElectoralInstitute}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.recountType">Recount Type</span></dt>
        <dd>
            <span>{{vm.election.recountType}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.recountFundamentRequest">Recount Fundament Request</span></dt>
        <dd>
            <span>{{vm.election.recountFundamentRequest}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.election.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.election.updatedDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.election.electionType">Election Type</span></dt>
        <dd>
            <a ui-sref="election-type-detail({id:vm.election.electionTypeId})">{{vm.election.electionTypeName}}</a>
        </dd>
        <dt><span data-translate="sidenerApp.election.politicalPartyAsociated">Political Party Asociated</span></dt>
        <dd>
            <a ui-sref="political-party-detail({id:vm.election.politicalPartyAsociatedId})">{{vm.election.politicalPartyAsociatedName}}</a>
        </dd>
        <dt><span data-translate="sidenerApp.election.coalitionAsociated">Coalition Asociated</span></dt>
        <dd>
            <a ui-sref="coalition-detail({id:vm.election.coalitionAsociatedId})">{{vm.election.coalitionAsociatedName}}</a>
        </dd>
        <dt><span data-translate="sidenerApp.election.independentCandidateAsociated">Independent Candidate Asociated</span></dt>
        <dd>
            <a ui-sref="independent-candidate-detail({id:vm.election.independentCandidateAsociatedId})">{{vm.election.independentCandidateAsociatedName}}</a>
        </dd>
        <dt><span data-translate="sidenerApp.election.politicalParties">Political Parties</span></dt>
        <dd>
            <ul ng-repeat="politicalParties in vm.election.politicalParties">
                <li><a ui-sref="political-party-detail({id: politicalParties.id})">{{politicalParties.name}}</a></li>
            </ul>
        </dd>
        <dt><span data-translate="sidenerApp.election.independentCandidates">Independent Candidates</span></dt>
        <dd>
            <ul ng-repeat="independentCandidates in vm.election.independentCandidates">
                <li><a ui-sref="independent-candidate-detail({id: independentCandidates.id})">{{independentCandidates.name}}</a></li>
            </ul>
        </dd>
        <dt><span data-translate="sidenerApp.election.coalitions">Coalitions</span></dt>
        <dd>
            <ul ng-repeat="coalitions in vm.election.coalitions">
                <li><a ui-sref="coalition-detail({id: coalitions.id})">{{coalitions.name}}</a></li>
            </ul>
        </dd>
        <dt><span data-translate="sidenerApp.election.causals">Causals</span></dt>
        <dd>
            <ul ng-repeat="causals in vm.election.causals" id="field-causals">
                <li>
                    <span class="causal-color" ng-style="{'background-color': causals.color}"></span>
                    <span class="causal-description">{{causals.name}}</span>
                </li>
            </ul>
        </dd>
        <dt><span data-translate="sidenerApp.election.published">Published</span></dt>
        <dd>
            <span>
                <span ng-if="vm.election.published==true">
                <i class="fa fa-check fa-2x"></i>
            </span>
            <span ng-if="vm.election.published!=true">
                <i class="fa fa-times fa-2x"></i>
            </span>
            </span>
        </dd>
        <dt><span data-translate="sidenerApp.election.user">User</span></dt>
        <dd>
            <span ng-repeat="user in vm.election.users">
                {{user.login}}{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            ui-sref="election-detail.edit({id:vm.election.id})"
            class="btn btn-primary"
            has-authority="ROLE_ADMIN">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
    <button type="submit"
            ui-sref="election.delete({id:vm.election.id})"
            class="btn btn-danger btn-sm"
            has-authority="ROLE_ADMIN">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
    </button>
</div>
