
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPollingPlaceLabel" data-translate="sidenerApp.pollingPlace.home.createOrEditLabel">Create or edit a Polling Place</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pollingPlace.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pollingPlace.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.town" for="field_town">Town</label>
            <input type="text" class="form-control" name="town" id="field_town"
                    ng-model="vm.pollingPlace.town"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.typePollingPlace" for="field_typePollingPlace">Type Polling Place</label>
            <select class="form-control" name="typePollingPlace" ng-model="vm.pollingPlace.typePollingPlace" id="field_typePollingPlace">
                <option value="BASIC" data-translate="sidenerApp.TypePollingPlace.BASIC">BASIC</option>
                <option value="CONTIGUOUS" data-translate="sidenerApp.TypePollingPlace.CONTIGUOUS">CONTIGUOUS</option>
                <option value="EXTRAORDINARY" data-translate="sidenerApp.TypePollingPlace.EXTRAORDINARY">EXTRAORDINARY</option>
                <option value="SPECIAL" data-translate="sidenerApp.TypePollingPlace.SPECIAL">SPECIAL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.typeNumber" for="field_typeNumber">Type Number</label>
            <input type="text" class="form-control" name="typeNumber" id="field_typeNumber"
                    ng-model="vm.pollingPlace.typeNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.section" for="field_section">Section</label>
            <input type="text" class="form-control" name="section" id="field_section"
                    ng-model="vm.pollingPlace.section"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.address" for="field_address">Address</label>
                <textarea class="form-control" name="address" id="field_address"
                    ng-model="vm.pollingPlace.address" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.leftoverBallots" for="field_leftoverBallots">Leftover Ballots</label>
            <input type="number" class="form-control" name="leftoverBallots" id="field_leftoverBallots"
                    ng-model="vm.pollingPlace.leftoverBallots"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.votingCitizens" for="field_votingCitizens">Voting Citizens</label>
            <input type="number" class="form-control" name="votingCitizens" id="field_votingCitizens"
                    ng-model="vm.pollingPlace.votingCitizens"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.exctractedBallots" for="field_exctractedBallots">Exctracted Ballots</label>
            <input type="number" class="form-control" name="exctractedBallots" id="field_exctractedBallots"
                    ng-model="vm.pollingPlace.exctractedBallots"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.notRegistered" for="field_notRegistered">Not Registered</label>
            <input type="number" class="form-control" name="notRegistered" id="field_notRegistered"
                    ng-model="vm.pollingPlace.notRegistered"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.nullVotes" for="field_nullVotes">Null Votes</label>
            <input type="number" class="form-control" name="nullVotes" id="field_nullVotes"
                    ng-model="vm.pollingPlace.nullVotes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.totalVotes" for="field_totalVotes">Total Votes</label>
            <input type="number" class="form-control" name="totalVotes" id="field_totalVotes"
                    ng-model="vm.pollingPlace.totalVotes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.electoralRoll" for="field_electoralRoll">Electoral Roll</label>
            <input type="number" class="form-control" name="electoralRoll" id="field_electoralRoll"
                    ng-model="vm.pollingPlace.electoralRoll"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.observations" for="field_observations">Observations</label>
                <textarea class="form-control" name="observations" id="field_observations"
                    ng-model="vm.pollingPlace.observations" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.president" for="field_president">President</label>
            <input type="text" class="form-control" name="president" id="field_president"
                    ng-model="vm.pollingPlace.president"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.secretary" for="field_secretary">Secretary</label>
            <input type="text" class="form-control" name="secretary" id="field_secretary"
                    ng-model="vm.pollingPlace.secretary"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.scrutineerOne" for="field_scrutineerOne">Scrutineer One</label>
            <input type="text" class="form-control" name="scrutineerOne" id="field_scrutineerOne"
                    ng-model="vm.pollingPlace.scrutineerOne"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.scrutineerTwo" for="field_scrutineerTwo">Scrutineer Two</label>
            <input type="text" class="form-control" name="scrutineerTwo" id="field_scrutineerTwo"
                    ng-model="vm.pollingPlace.scrutineerTwo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.alternateOne" for="field_alternateOne">Alternate One</label>
            <input type="text" class="form-control" name="alternateOne" id="field_alternateOne"
                    ng-model="vm.pollingPlace.alternateOne"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.alternateTwo" for="field_alternateTwo">Alternate Two</label>
            <input type="text" class="form-control" name="alternateTwo" id="field_alternateTwo"
                    ng-model="vm.pollingPlace.alternateTwo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.alternateThree" for="field_alternateThree">Alternate Three</label>
            <input type="text" class="form-control" name="alternateThree" id="field_alternateThree"
                    ng-model="vm.pollingPlace.alternateThree"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.published" for="field_published">Published</label>
                <input type="checkbox" name="published" id="field_published"
                          ng-model="vm.pollingPlace.published"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.pollingPlace.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingPlace.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" datetime-picker="{{dateformat}}" ng-model="vm.pollingPlace.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="sidenerApp.pollingPlace.election" for="field_election">Election</label>
            <select class="form-control" id="field_election" name="election" ng-model="vm.pollingPlace.electionId" ng-options="election.id as election.id for election in vm.elections"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.pollingPlace.district" for="field_district">District</label>
            <select class="form-control" id="field_district" name="district" ng-model="vm.pollingPlace.districtId" ng-options="district.id as district.id for district in vm.districts"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
