<div>
    <h2 data-translate="sidenerApp.pollingPlace.home.title">Polling Places</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="polling-place.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="sidenerApp.pollingPlace.home.createLabel">
                        Create new Polling Place
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'sidenerApp.pollingPlace.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="town"><span data-translate="sidenerApp.pollingPlace.town">Town</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typePollingPlace"><span data-translate="sidenerApp.pollingPlace.typePollingPlace">Type Polling Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeNumber"><span data-translate="sidenerApp.pollingPlace.typeNumber">Type Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="section"><span data-translate="sidenerApp.pollingPlace.section">Section</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="sidenerApp.pollingPlace.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="leftoverBallots"><span data-translate="sidenerApp.pollingPlace.leftoverBallots">Leftover Ballots</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="votingCitizens"><span data-translate="sidenerApp.pollingPlace.votingCitizens">Voting Citizens</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exctractedBallots"><span data-translate="sidenerApp.pollingPlace.exctractedBallots">Exctracted Ballots</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notRegistered"><span data-translate="sidenerApp.pollingPlace.notRegistered">Not Registered</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nullVotes"><span data-translate="sidenerApp.pollingPlace.nullVotes">Null Votes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalVotes"><span data-translate="sidenerApp.pollingPlace.totalVotes">Total Votes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="electoralRoll"><span data-translate="sidenerApp.pollingPlace.electoralRoll">Electoral Roll</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="observations"><span data-translate="sidenerApp.pollingPlace.observations">Observations</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="president"><span data-translate="sidenerApp.pollingPlace.president">President</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="secretary"><span data-translate="sidenerApp.pollingPlace.secretary">Secretary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scrutineerOne"><span data-translate="sidenerApp.pollingPlace.scrutineerOne">Scrutineer One</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scrutineerTwo"><span data-translate="sidenerApp.pollingPlace.scrutineerTwo">Scrutineer Two</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alternateOne"><span data-translate="sidenerApp.pollingPlace.alternateOne">Alternate One</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alternateTwo"><span data-translate="sidenerApp.pollingPlace.alternateTwo">Alternate Two</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alternateThree"><span data-translate="sidenerApp.pollingPlace.alternateThree">Alternate Three</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entityFirstPlace"><span data-translate="sidenerApp.pollingPlace.entityFirstPlace">Entity First Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalFirstPlace"><span data-translate="sidenerApp.pollingPlace.totalFirstPlace">Total First Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entitySecondPlace"><span data-translate="sidenerApp.pollingPlace.entitySecondPlace">Entity Second Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalSecondPlace"><span data-translate="sidenerApp.pollingPlace.totalSecondPlace">Total Second Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="published"><span data-translate="sidenerApp.pollingPlace.published">Published</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="sidenerApp.pollingPlace.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedDate"><span data-translate="sidenerApp.pollingPlace.updatedDate">Updated Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="recordCountId"><span data-translate="sidenerApp.pollingPlace.recordCount">Record Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="electionId"><span data-translate="sidenerApp.pollingPlace.election">Election</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="districtId"><span data-translate="sidenerApp.pollingPlace.district">District</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pollingPlace in vm.pollingPlaces track by pollingPlace.id">
                    <td><a ui-sref="polling-place-detail({id:pollingPlace.id})">{{pollingPlace.id}}</a></td>
                    <td>{{pollingPlace.town}}</td>
                    <td data-translate="{{'sidenerApp.TypePollingPlace.' + pollingPlace.typePollingPlace}}">{{pollingPlace.typePollingPlace}}</td>
                    <td>{{pollingPlace.typeNumber}}</td>
                    <td>{{pollingPlace.section}}</td>
                    <td>{{pollingPlace.address}}</td>
                    <td>{{pollingPlace.leftoverBallots}}</td>
                    <td>{{pollingPlace.votingCitizens}}</td>
                    <td>{{pollingPlace.exctractedBallots}}</td>
                    <td>{{pollingPlace.notRegistered}}</td>
                    <td>{{pollingPlace.nullVotes}}</td>
                    <td>{{pollingPlace.totalVotes}}</td>
                    <td>{{pollingPlace.electoralRoll}}</td>
                    <td>{{pollingPlace.observations}}</td>
                    <td>{{pollingPlace.president}}</td>
                    <td>{{pollingPlace.secretary}}</td>
                    <td>{{pollingPlace.scrutineerOne}}</td>
                    <td>{{pollingPlace.scrutineerTwo}}</td>
                    <td>{{pollingPlace.alternateOne}}</td>
                    <td>{{pollingPlace.alternateTwo}}</td>
                    <td>{{pollingPlace.alternateThree}}</td>
                    <td>{{pollingPlace.entityFirstPlace}}</td>
                    <td>{{pollingPlace.totalFirstPlace}}</td>
                    <td>{{pollingPlace.entitySecondPlace}}</td>
                    <td>{{pollingPlace.totalSecondPlace}}</td>
                    <td>{{pollingPlace.published}}</td>
                    <td>{{pollingPlace.createdDate | date:'medium'}}</td>
                    <td>{{pollingPlace.updatedDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="archive-detail({id:pollingPlace.recordCountId})">{{pollingPlace.recordCountId}}</a>
                    </td>
                    <td>
                        <a ui-sref="election-detail({id:pollingPlace.electionId})">{{pollingPlace.electionId}}</a>
                    </td>
                    <td>
                        <a ui-sref="district-detail({id:pollingPlace.districtId})">{{pollingPlace.districtId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="polling-place-detail({id:pollingPlace.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="polling-place.edit({id:pollingPlace.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="polling-place.delete({id:pollingPlace.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
