<div>
    <h2 data-translate="sidenerApp.election.home.title">Elections</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="election.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="sidenerApp.election.home.createLabel">
                        Create new Election
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'sidenerApp.election.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="sidenerApp.election.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="electionTypeName"><span data-translate="sidenerApp.election.electionType">Election Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="periodElection"><span data-translate="sidenerApp.election.periodElection">Period Election</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="sidenerApp.election.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="sidenerApp.election.recount">Recuento</th>
                    <th><span data-translate="sidenerApp.election.causals">Causales</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="election in vm.elections track by election.id">
                    <td><a ui-sref="election-detail({id:election.id})" class="btn btn-info">{{election.id}}</a></td>
                    <td data-translate="{{'sidenerApp.State.' + election.state}}">{{election.state}}</td>
                    <td>{{election.electionTypeName}}</td>
                    <td>{{election.periodElection}}</td>
                    <td data-translate="{{'sidenerApp.Status.' + election.status}}">{{election.status}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="election-district({id:election.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="fa medium fa-bar-chart"></span>
                            </button>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    class="btn btn-success btn-sm">
                                <span class="fa medium fa-address-card-o"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
