
<div>
    <h2><span data-translate="sidenerApp.politicalParty.detail.title">Political Party</span> {{vm.politicalParty.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="sidenerApp.politicalParty.name">Name</span></dt>
        <dd>
            <span>{{vm.politicalParty.name}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.politicalParty.acronym">Acronym</span></dt>
        <dd>
            <span>{{vm.politicalParty.acronym}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.politicalParty.published">Published</span></dt>
        <dd>
            <span ng-if="vm.politicalParty.published==true">
                <i class="fa fa-check fa-2x"></i>
            </span>
            <span ng-if="vm.politicalParty.published!=true">
                <i class="fa fa-times fa-2x"></i>
            </span>
        </dd>
        <dt><span data-translate="sidenerApp.politicalParty.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.politicalParty.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.politicalParty.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{vm.politicalParty.updatedDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.politicalParty.image">Image</span></dt>
        <dd>
            <span ng-if="vm.politicalParty.imageId!=null">
                <img src="public/api/archives/download?filename={{vm.image.path}}" width="70px" height="70px"/>
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="political-party-detail.edit({id:vm.politicalParty.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
