
<form name="editForm" role="form" novalidate ng-submit="vm.save()" flow-init="{testChunks:false}">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPoliticalPartyLabel" data-translate="sidenerApp.politicalParty.home.createOrEditLabel">Create or edit a Political Party</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.politicalParty.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.politicalParty.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.politicalParty.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.politicalParty.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.politicalParty.acronym" for="field_acronym">Acronym</label>
            <input type="text" class="form-control" name="acronym" id="field_acronym"
                    ng-model="vm.politicalParty.acronym"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.politicalParty.published" for="field_published">Published</label>
                <input type="checkbox" name="published" id="field_published"
                          ng-model="vm.politicalParty.published"/>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.politicalParty.image" for="field_image">Image</label>
            <select class="form-control" id="field_image" name="image" ng-model="vm.politicalParty.imageId" ng-options="archive.id as archive.id for archive in vm.images | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Documento</label>
            <div class="alert alert-danger" ng-if="vm.error == true">
                <strong>Error. </strong>{{vm.error_message}}
            </div>
            <div class="form-group">
                <div flow-files-submitted="$flow.upload();"
                     flow-upload-started="vm.uploadStart($flow);"
                     flow-file-success="vm.successUpload($file, $message, $flow);"
                     flow-complete="vm.completeUpload($flow);"
                     flow-file-error="vm.errorUpload($file, $message, $flow );">

                    <span class="btn btn-default btn-block" data-translate="entity.action.addblob" flow-btn>Upload File</span>
                    <br>
                    <div ng-repeat="file in $flow.files">
                        <table>
                            <td><p>{{$index+1}} . </p></td>
                            <td><p>{{file.name}}</p></td>
                            <td>
                                <button type="button" ng-disabled="vm.loading" ng-click="vm.removeFiles($flow,$index)" class="btn  btn-xs pull-right remove_btn">
                                    <span class="glyphicon glyphicon-remove "></span>
                                </button>
                            </td>
                        </table>
                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                 ng-style="{width: (file.progress() * 100) + '%'}"
                                 style="width: 100%;">
                                <span class="sr-only ng-binding">1% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.politicalParty.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.politicalParty.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.politicalParty.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" datetime-picker="{{dateformat}}" ng-model="vm.politicalParty.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
