
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPollingplaceLabel" data-translate="sidenerApp.pollingplace.home.createOrEditLabel">Create or edit a Pollingplace</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pollingplace.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pollingplace.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.town" for="field_town" uib-tooltip="{{'sidenerApp.pollingplace.help.town' | translate}}">Town</label>
            <input type="text" class="form-control" name="town" id="field_town"
                    ng-model="vm.pollingplace.town"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.typePollingPlace" for="field_typePollingPlace" uib-tooltip="{{'sidenerApp.pollingplace.help.typePollingPlace' | translate}}">Type Polling Place</label>
            <select class="form-control" name="typePollingPlace" ng-model="vm.pollingplace.typePollingPlace" id="field_typePollingPlace">
                <option value="BASIC" data-translate="sidenerApp.TypePollingPlace.BASIC">BASIC</option>
                <option value="CONTIGUOUS" data-translate="sidenerApp.TypePollingPlace.CONTIGUOUS">CONTIGUOUS</option>
                <option value="EXTRAORDINARY" data-translate="sidenerApp.TypePollingPlace.EXTRAORDINARY">EXTRAORDINARY</option>
                <option value="SPECIAL" data-translate="sidenerApp.TypePollingPlace.SPECIAL">SPECIAL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.typeNumber" for="field_typeNumber" uib-tooltip="{{'sidenerApp.pollingplace.help.typeNumber' | translate}}">Type Number</label>
            <input type="text" class="form-control" name="typeNumber" id="field_typeNumber"
                    ng-model="vm.pollingplace.typeNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.section" for="field_section" uib-tooltip="{{'sidenerApp.pollingplace.help.section' | translate}}">Section</label>
            <input type="text" class="form-control" name="section" id="field_section"
                    ng-model="vm.pollingplace.section"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.address" for="field_address" uib-tooltip="{{'sidenerApp.pollingplace.help.address' | translate}}">Address</label>
                <textarea class="form-control" name="address" id="field_address"
                    ng-model="vm.pollingplace.address" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.leftoverBallots" for="field_leftoverBallots" uib-tooltip="{{'sidenerApp.pollingplace.help.leftoverBallots' | translate}}">Leftover Ballots</label>
            <input type="number" class="form-control" name="leftoverBallots" id="field_leftoverBallots"
                    ng-model="vm.pollingplace.leftoverBallots"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.votingCitizens" for="field_votingCitizens" uib-tooltip="{{'sidenerApp.pollingplace.help.votingCitizens' | translate}}">Voting Citizens</label>
            <input type="number" class="form-control" name="votingCitizens" id="field_votingCitizens"
                    ng-model="vm.pollingplace.votingCitizens"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.exctractedBallots" for="field_exctractedBallots" uib-tooltip="{{'sidenerApp.pollingplace.help.exctractedBallots' | translate}}">Exctracted Ballots</label>
            <input type="number" class="form-control" name="exctractedBallots" id="field_exctractedBallots"
                    ng-model="vm.pollingplace.exctractedBallots"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.notRegistered" for="field_notRegistered" uib-tooltip="{{'sidenerApp.pollingplace.help.notRegistered' | translate}}">Not Registered</label>
            <input type="number" class="form-control" name="notRegistered" id="field_notRegistered"
                    ng-model="vm.pollingplace.notRegistered"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.nullVotes" for="field_nullVotes" uib-tooltip="{{'sidenerApp.pollingplace.help.nullVotes' | translate}}">Null Votes</label>
            <input type="number" class="form-control" name="nullVotes" id="field_nullVotes"
                    ng-model="vm.pollingplace.nullVotes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.totalVotes" for="field_totalVotes" uib-tooltip="{{'sidenerApp.pollingplace.help.totalVotes' | translate}}">Total Votes</label>
            <input type="number" class="form-control" name="totalVotes" id="field_totalVotes"
                    ng-model="vm.pollingplace.totalVotes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.electoralRoll" for="field_electoralRoll" uib-tooltip="{{'sidenerApp.pollingplace.help.electoralRoll' | translate}}">Electoral Roll</label>
            <input type="number" class="form-control" name="electoralRoll" id="field_electoralRoll"
                    ng-model="vm.pollingplace.electoralRoll"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.observations" for="field_observations" uib-tooltip="{{'sidenerApp.pollingplace.help.observations' | translate}}">Observations</label>
                <textarea class="form-control" name="observations" id="field_observations"
                    ng-model="vm.pollingplace.observations" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.president" for="field_president" uib-tooltip="{{'sidenerApp.pollingplace.help.president' | translate}}">President</label>
            <input type="text" class="form-control" name="president" id="field_president"
                    ng-model="vm.pollingplace.president"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.secretary" for="field_secretary" uib-tooltip="{{'sidenerApp.pollingplace.help.secretary' | translate}}">Secretary</label>
            <input type="text" class="form-control" name="secretary" id="field_secretary"
                    ng-model="vm.pollingplace.secretary"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.scrutineerOne" for="field_scrutineerOne" uib-tooltip="{{'sidenerApp.pollingplace.help.scrutineerOne' | translate}}">Scrutineer One</label>
            <input type="text" class="form-control" name="scrutineerOne" id="field_scrutineerOne"
                    ng-model="vm.pollingplace.scrutineerOne"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.scrutineerTwo" for="field_scrutineerTwo" uib-tooltip="{{'sidenerApp.pollingplace.help.scrutineerTwo' | translate}}">Scrutineer Two</label>
            <input type="text" class="form-control" name="scrutineerTwo" id="field_scrutineerTwo"
                    ng-model="vm.pollingplace.scrutineerTwo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.alternateOne" for="field_alternateOne" uib-tooltip="{{'sidenerApp.pollingplace.help.alternateOne' | translate}}">Alternate One</label>
            <input type="text" class="form-control" name="alternateOne" id="field_alternateOne"
                    ng-model="vm.pollingplace.alternateOne"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.alternateTwo" for="field_alternateTwo" uib-tooltip="{{'sidenerApp.pollingplace.help.alternateTwo' | translate}}">Alternate Two</label>
            <input type="text" class="form-control" name="alternateTwo" id="field_alternateTwo"
                    ng-model="vm.pollingplace.alternateTwo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.alternateThree" for="field_alternateThree" uib-tooltip="{{'sidenerApp.pollingplace.help.alternateThree' | translate}}">Alternate Three</label>
            <input type="text" class="form-control" name="alternateThree" id="field_alternateThree"
                    ng-model="vm.pollingplace.alternateThree"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.entityFirstPlace" for="field_entityFirstPlace" uib-tooltip="{{'sidenerApp.pollingplace.help.entityFirstPlace' | translate}}">Entity First Place</label>
            <input type="text" class="form-control" name="entityFirstPlace" id="field_entityFirstPlace"
                    ng-model="vm.pollingplace.entityFirstPlace"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.totalFirstPlace" for="field_totalFirstPlace" uib-tooltip="{{'sidenerApp.pollingplace.help.totalFirstPlace' | translate}}">Total First Place</label>
            <input type="number" class="form-control" name="totalFirstPlace" id="field_totalFirstPlace"
                    ng-model="vm.pollingplace.totalFirstPlace"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.entitySecondPlace" for="field_entitySecondPlace" uib-tooltip="{{'sidenerApp.pollingplace.help.entitySecondPlace' | translate}}">Entity Second Place</label>
            <input type="text" class="form-control" name="entitySecondPlace" id="field_entitySecondPlace"
                    ng-model="vm.pollingplace.entitySecondPlace"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.totalSecondPlace" for="field_totalSecondPlace" uib-tooltip="{{'sidenerApp.pollingplace.help.totalSecondPlace' | translate}}">Total Second Place</label>
            <input type="number" class="form-control" name="totalSecondPlace" id="field_totalSecondPlace"
                    ng-model="vm.pollingplace.totalSecondPlace"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.urlRecordCount" for="field_urlRecordCount" uib-tooltip="{{'sidenerApp.pollingplace.help.urlRecordCount' | translate}}">Url Record Count</label>
            <input type="text" class="form-control" name="urlRecordCount" id="field_urlRecordCount"
                    ng-model="vm.pollingplace.urlRecordCount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.pollingPlaceWon" for="field_pollingPlaceWon" uib-tooltip="{{'sidenerApp.pollingplace.help.pollingPlaceWon' | translate}}">Polling Place Won</label>
                <input type="checkbox" name="pollingPlaceWon" id="field_pollingPlaceWon"
                          ng-model="vm.pollingplace.pollingPlaceWon"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.challengedPollingPlace" for="field_challengedPollingPlace" uib-tooltip="{{'sidenerApp.pollingplace.help.challengedPollingPlace' | translate}}">Challenged Polling Place</label>
                <input type="checkbox" name="challengedPollingPlace" id="field_challengedPollingPlace"
                          ng-model="vm.pollingplace.challengedPollingPlace"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.published" for="field_published">Published</label>
                <input type="checkbox" name="published" id="field_published"
                          ng-model="vm.pollingplace.published"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.createdDate" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" datetime-picker="{{dateformat}}" ng-model="vm.pollingplace.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.pollingplace.updatedDate" for="field_updatedDate">Updated Date</label>
                <div class="input-group">
                    <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" datetime-picker="{{dateformat}}" ng-model="vm.pollingplace.updatedDate" is-open="vm.datePickerOpenStatus.updatedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="sidenerApp.pollingplace.recordCount" for="field_recordCount">Record Count</label>
            <select class="form-control" id="field_recordCount" name="recordCount" ng-model="vm.pollingplace.recordCountId" ng-options="archive.id as archive.path for archive in vm.recordcounts | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.pollingplace.election" for="field_election">Election</label>
            <select class="form-control" id="field_election" name="election" ng-model="vm.pollingplace.electionId" ng-options="election.id as election.id for election in vm.elections"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.pollingplace.district" for="field_district">District</label>
            <select class="form-control" id="field_district" name="district" ng-model="vm.pollingplace.districtId" ng-options="district.id as district.id for district in vm.districts"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.pollingplace.causals" for="field_causals">Causals</label>
            <select class="form-control" id="field_causals" multiple name="causals" ng-model="vm.pollingplace.causals" ng-options="causal as causal.name for causal in vm.causals track by causal.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
