
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDetectorCausalsLabel" data-translate="sidenerApp.detectorCausals.home.createOrEditLabel">Create or edit a Detector Causals</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.detectorCausals.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.detectorCausals.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.detectorCausals.idPollingPlace" for="field_idPollingPlace">Id Polling Place</label>
            <input type="number" class="form-control" name="idPollingPlace" id="field_idPollingPlace"
                    ng-model="vm.detectorCausals.idPollingPlace"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.detectorCausals.idCausal" for="field_idCausal">Id Causal</label>
            <input type="number" class="form-control" name="idCausal" id="field_idCausal"
                    ng-model="vm.detectorCausals.idCausal"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.detectorCausals.idDistrict" for="field_idDistrict">Id District</label>
            <input type="number" class="form-control" name="idDistrict" id="field_idDistrict"
                    ng-model="vm.detectorCausals.idDistrict"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.detectorCausals.observations" for="field_observations">Observations</label>
                <textarea class="form-control" name="observations" id="field_observations"
                    ng-model="vm.detectorCausals.observations" ></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
