
<div>
    <h2>{{vm.causal.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="sidenerApp.causal.name">Name</span></dt>
        <dd>
            <span>{{vm.causal.name}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.causal.typeCausal">Type Causal</span></dt>
        <dd>
            <span data-translate="{{'sidenerApp.CausalType.' + vm.causal.typeCausal}}">{{vm.causal.typeCausal}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.causal.color">Color</span></dt>
        <dd id="field-causal">
            <span class="causal-color" ng-style="{'background-color': vm.causal.color}"></span>
        </dd>
        <dt><span data-translate="sidenerApp.causal.published">Published</span></dt>
        <dd>
            <span ng-if="vm.causal.published==true">
                <i class="fa fa-check fa-2x"></i>
            </span>
            <span ng-if="vm.causal.published!=true">
                <i class="fa fa-times fa-2x"></i>
            </span>
        </dd>
        <dt><span data-translate="sidenerApp.causal.createdDate">Created Date</span></dt>
        <dd>
            <span>{{vm.causal.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="sidenerApp.causal.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{ vm.causal.updatedDate | date:'medium' }}</span>
        </dd>
        <dt><span data-translate="sidenerApp.causal.causalDescription">Causal Description</span></dt>
        <dd>
            <ul ng-repeat="causalDescription in vm.causal.causalDescriptions">
                <li>{{causalDescription.text}}</li>
            </ul>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="causal-detail.edit({id:vm.causal.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
