<header>
    <div ui-view="navbar" ng-cloak></div>
</header>
<content>
    <main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">
        <div id="main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ui-view="content" autoscroll="true" autoscroll-body-top></div>
        </div>

        <footer>
        </footer>

        <back-top></back-top>
    </main>
</content>

<div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
</div>
