
<form name="editForm" role="form" novalidate ng-submit="vm.save()" flow-init="{testChunks:false}">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCoalitionLabel" data-translate="sidenerApp.coalition.home.createOrEditLabel">Create or edit a Coalition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.coalition.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.coalition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.coalition.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.acronym" for="field_acronym">Acronym</label>
            <input type="text" class="form-control" name="acronym" id="field_acronym"
                    ng-model="vm.coalition.acronym"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.published" for="field_published">Published</label>
                <input type="checkbox" name="published" id="field_published"
                          ng-model="vm.coalition.published"/>
        </div>
        <div class="form-group">
            <label data-translate="sidenerApp.coalition.politicalParties" for="field_politicalParties">Political Parties</label>
            <ui-select multiple ng-model="vm.coalition.politicalParties" theme="bootstrap" sortable="true" close-on-select="false" search-enabled="true" id="field_politicalParties">
                <ui-select-match placeholder="Selecciona un Partido Político...">
                    <img src="public/api/archives/download?filename={{$item.imagePath}}" width="30px" height="30px" ng-if="$item.imagePath"/>
                    {{$item.name}}
                </ui-select-match>
                <ui-select-choices repeat="politicalParty in vm.politicalparties | propsFilter: {name: $select.search}" position='down'>
                    <div class="political-party">
                        <img src="public/api/archives/download?filename={{politicalParty.imagePath}}" width="30px" height="30px" ng-if="politicalParty.imagePath"/>
                        <span ng-bind-html="politicalParty.name | highlight: $select.search"></span>
                        <small>-<strong>{{politicalParty.acronym}}</strong>-</small>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <div flow-files-submitted="$flow.upload();"
                 flow-upload-started="vm.uploadStart($flow);"
                 flow-file-success="vm.successUpload($file, $message, $flow);"
                 flow-complete="vm.completeUpload($flow);"
                 flow-file-error="vm.errorUpload($file, $message, $flow );">
                <div ng-if="vm.image.length == 0">
                    <span class="btn btn-default btn-block" data-translate="entity.action.addblob" flow-btn>Upload File</span>
                </div>
                <div ng-if="vm.image.length > 0">
                    <div ng-repeat="file in vm.image track by $index">
                        <table>
                            <td><img src="public/api/archives/download?filename={{file.path}}" width="70px" height="70px"/></td>
                            <td>
                                <button type="button" ng-disabled="vm.loading" ng-click="vm.removeFile(file)" class="btn btn-xs pull-right remove_btn">
                                    <span class="glyphicon glyphicon-remove "></span>
                                </button>
                            </td>
                        </table>
                        <br/>
                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                 ng-style="{width: (file.progress() * 100) + '%'}"
                                 style="width: 100%;">
                                <span class="sr-only ng-binding">1% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
