<div>
    <h2 data-translate="sidenerApp.coalition.home.title">Coalitions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="coalition.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="sidenerApp.coalition.home.createLabel">
                        Create new Coalition
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'sidenerApp.coalition.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="sidenerApp.coalition.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="acronym"><span data-translate="sidenerApp.coalition.acronym">Acronym</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="sidenerApp.coalition.politicalParties">Political Parties</span></th>
                    <th jh-sort-by="published"><span data-translate="sidenerApp.coalition.published">Published</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span data-translate="sidenerApp.coalition.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedDate"><span data-translate="sidenerApp.coalition.updatedDate">Updated Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageId"><span data-translate="sidenerApp.coalition.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="coalition in vm.coalitions track by coalition.id">
                    <td><a ui-sref="coalition-detail({id:coalition.id})">{{coalition.id}}</a></td>
                    <td>{{coalition.name}}</td>
                    <td>{{coalition.acronym}}</td>
                    <td>
                        <span ng-repeat="politicalParties in coalition.politicalParties">
                            <a ui-sref="political-party-detail({id: politicalParties.id})">{{politicalParties.acronym}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-center">
                        <span ng-if="coalition.published==true">
                            <i class="fa fa-check fa-2x"></i>
                        </span>
                        <span ng-if="coalition.published!=true">
                            <i class="fa fa-times fa-2x"></i>
                        </span>
                    </td>
                    <td>{{coalition.createdDate | date:'short'}}</td>
                    <td>{{coalition.updatedDate | date:'short'}}</td>
                    <td>
                        <span ng-if="coalition.imageId!=null">
                            <img src="public/api/archives/download?filename={{coalition.imagePath}}" width="70px" height="70px"/>
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="coalition-detail({id:coalition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="coalition.edit({id:coalition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="coalition.delete({id:coalition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
