
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCoalitionLabel" data-translate="sidenerApp.coalition.home.createOrEditLabel">Create or edit a Coalition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.coalition.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.coalition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.coalition.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.acronym" for="field_acronym">Acronym</label>
            <input type="text" class="form-control" name="acronym" id="field_acronym"
                    ng-model="vm.coalition.acronym"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.image" for="field_image">Image</label>
            <input type="text" class="form-control" name="image" id="field_image"
                    ng-model="vm.coalition.image"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.published" for="field_published">Published</label>
                <input type="checkbox" name="published" id="field_published"
                          ng-model="vm.coalition.published"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.coalition.created" is-open="vm.datePickerOpenStatus.created"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sidenerApp.coalition.updated" for="field_updated">Updated</label>
                <div class="input-group">
                    <input id="field_updated" type="text" class="form-control" name="updated" datetime-picker="{{dateformat}}" ng-model="vm.coalition.updated" is-open="vm.datePickerOpenStatus.updated"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updated')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="sidenerApp.coalition.politicalParties" for="field_politicalParties">Political Parties</label>
            <select class="form-control" id="field_politicalParties" multiple name="politicalParties" ng-model="vm.coalition.politicalParties" ng-options="politicalParty as politicalParty.name for politicalParty in vm.politicalparties track by politicalParty.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
